
/*@import '~bootstrap-sass/assets/stylesheets/bootstrap';*/
@import "~bootstrap/scss/bootstrap";

$brand-primary: darken(#428bca, 20%);
body{
  color: $brand-primary;
  @extend .text-center;
}

table{
  text-align:center;
  margin:auto;
  @extend  .table, .table-bordered;
}

