{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h1>Review creation</h1>


      {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
      {{ form_end(form) }}

    </div>
{% endblock %}